<a href="https://colab.research.google.com/github/Arturawesome/NeuralNetworksComputerVision/blob/main/Pandas_MFTI_kurse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl

pd.series
Одномерный набор данных

In [3]:
some_list = [1, 3, 4, np.nan, 6, 8]
ser_1 = pd.Series(some_list)
ser_1

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
ind = ["1st day", "2st day", "3st day", "4st day", "5st day", "6st day"]
ser_2 = pd.Series(some_list, index = ind)
ser_2

1st day    1.0
2st day    3.0
3st day    4.0
4st day    NaN
5st day    6.0
6st day    8.0
dtype: float64

In [8]:
ser_2["2st day"]

3.0

In [10]:
ser_3 = pd.Series(some_list, index = ind, name = "Temerature")
ser_3

1st day    1.0
2st day    3.0
3st day    4.0
4st day    NaN
5st day    6.0
6st day    8.0
Name: Temerature, dtype: float64

In [13]:
print(ser_2["2st day":"5st day":2])

2st day    3.0
4st day    NaN
dtype: float64

In [22]:
date_range = pd.date_range("20190101", periods = 10)  # массив из даты года
ser_4 = pd.Series(np.random.rand(10), index = date_range) # массив рандомных чисел где индексы это даты года
ser_4

2019-01-01    0.737621
2019-01-02    0.884066
2019-01-03    0.393990
2019-01-04    0.335186
2019-01-05    0.648684
2019-01-06    0.442678
2019-01-07    0.315839
2019-01-08    0.006900
2019-01-09    0.188965
2019-01-10    0.332082
Freq: D, dtype: float64

In [23]:
ser_4 > 0.5

2019-01-01     True
2019-01-02     True
2019-01-03    False
2019-01-04    False
2019-01-05     True
2019-01-06    False
2019-01-07    False
2019-01-08    False
2019-01-09    False
2019-01-10    False
Freq: D, dtype: bool

In [24]:
ser_4[ser_4 > 0.5] # we can write a logical equation in bracketrs

2019-01-01    0.737621
2019-01-02    0.884066
2019-01-05    0.648684
dtype: float64

sort element in array:

In [25]:
ser_4.sort_index()

2019-01-01    0.737621
2019-01-02    0.884066
2019-01-03    0.393990
2019-01-04    0.335186
2019-01-05    0.648684
2019-01-06    0.442678
2019-01-07    0.315839
2019-01-08    0.006900
2019-01-09    0.188965
2019-01-10    0.332082
Freq: D, dtype: float64

In [26]:
ser_4.sort_values()

2019-01-08    0.006900
2019-01-09    0.188965
2019-01-07    0.315839
2019-01-10    0.332082
2019-01-04    0.335186
2019-01-03    0.393990
2019-01-06    0.442678
2019-01-05    0.648684
2019-01-01    0.737621
2019-01-02    0.884066
dtype: float64

In [27]:
ser_4 = ser_4.sort_values()

In [29]:
ser_4

2019-01-08    0.006900
2019-01-09    0.188965
2019-01-07    0.315839
2019-01-10    0.332082
2019-01-04    0.335186
2019-01-03    0.393990
2019-01-06    0.442678
2019-01-05    0.648684
2019-01-01    0.737621
2019-01-02    0.884066
dtype: float64

In [30]:
ser_4 += 100

In [31]:
ser_4

2019-01-08    100.006900
2019-01-09    100.188965
2019-01-07    100.315839
2019-01-10    100.332082
2019-01-04    100.335186
2019-01-03    100.393990
2019-01-06    100.442678
2019-01-05    100.648684
2019-01-01    100.737621
2019-01-02    100.884066
dtype: float64

In [32]:
np.exp(ser_4)

2019-01-08    2.706728e+43
2019-01-09    3.247240e+43
2019-01-07    3.686508e+43
2019-01-10    3.746877e+43
2019-01-04    3.758527e+43
2019-01-03    3.986170e+43
2019-01-06    4.185051e+43
2019-01-05    5.142428e+43
2019-01-01    5.620731e+43
2019-01-02    6.507186e+43
dtype: float64

In [34]:
term_1 = pd.Series(np.random.randint(0, 10, 5))
term_2 = pd.Series(np.random.randint(0, 10, 6))
term_1 + term_2

0     8.0
1     3.0
2    17.0
3     6.0
4    10.0
5     NaN
dtype: float64

DataFrame is two dimensional specific array

In [37]:
some_dict = {"one":pd.Series([1, 2, 3], index = ["a", "b", "c"]),
             "two":pd.Series([1, 2, 3, 4], index = ["a", "b", "c", "d"]),
             "three":pd.Series([5, 6, 7, 8], index = ["a", "b", "c", "d"])
}
some_dict

{'one': a    1
 b    2
 c    3
 dtype: int64, 'two': a    1
 b    2
 c    3
 d    4
 dtype: int64, 'three': a    5
 b    6
 c    7
 d    8
 dtype: int64}

In [42]:
df = pd.DataFrame(some_dict)
df

   one  two  three
a  1.0    1      5
b  2.0    2      6
c  3.0    3      7
d  NaN    4      8

In [49]:
some_array = [[1, 1, 5], [2, 2, 6],[3, 3, 7], [np.nan, 4, 8]]
df2 = pd.DataFrame(some_array, index=["a","b","c","d"], columns = ["one", "two", "three"])
df2

   one  two  three
a  1.0    1      5
b  2.0    2      6
c  3.0    3      7
d  NaN    4      8

In [52]:
df2.values
df2.columns

Index(['one', 'two', 'three'], dtype='object')

In [70]:
df2.columns = ["one1", "two2", "three3"]
df2

   one1  two2  three3
a   1.0     1       5
b   2.0     2       6
c   3.0     3       7
d   NaN     4       8

In [71]:
df2["one1"]

a    1.0
b    2.0
c    3.0
d    NaN
Name: one1, dtype: float64

In [72]:
df2["one1"]["b"]

2.0

In [74]:
df2[["one1", "three3"]]

   one1  three3
a   1.0       5
b   2.0       6
c   3.0       7
d   NaN       8

In [79]:
df2[:1]

   one1  two2  three3
a   1.0     1       5

In [90]:
df2.iloc[1:3, 0:         2]

   one1  two2
b   2.0     2
c   3.0     3

In [84]:
df2[1:3][:3]

   one1  two2  three3
b   2.0     2       6
c   3.0     3       7

In [91]:
df2 *= 10
df2

   one1  two2  three3
a  10.0    10      50
b  20.0    20      60
c  30.0    30      70
d   NaN    40      80

Дата сет из титаника. Имя пассажиров выжил или нет он

In [97]:
pass_link = 'https://www.dropbox.com/s/lyzcuxu1pdrw5qb/titanic_data.csv?dl=1'
titanic_passengers = pd.read_csv(pass_link, index_col='PassengerId') # index_col=?
titanic_passengers.shape

(891, 10)

In [98]:
titanic_passengers.head(10)   # print fisrt ten pass

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [100]:
titanic_passengers.info()   # data structure: columns name, type, etc, the number of non-cull elements

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB

In [103]:
titanic_passengers.describe() # get a standart parameters of math stat -> mean values, MSD, min, max etc

           Pclass         Age       SibSp       Parch        Fare
count  891.000000  714.000000  891.000000  891.000000  891.000000
mean     2.308642   29.699118    0.523008    0.381594   32.204208
std      0.836071   14.526497    1.102743    0.806057   49.693429
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   20.125000    0.000000    0.000000    7.910400
50%      3.000000   28.000000    0.000000    0.000000   14.454200
75%      3.000000   38.000000    1.000000    0.000000   31.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200